
<header class="app-header">
  <div class="container">
    <nav class="navigation">
      <a href="/" class="logo">PricingApp</a>
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/pricing-list" routerLinkActive="active">Pricing List</a></li>
        <li><a routerLink="/file-upload" routerLinkActive="active">File upload</a></li>       
      </ul>
    </nav>
  </div>
</header>


<main class="main-content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
